.slideshow-container{
    min-width: 900px;
    position: relative;
    margin: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s;
    border-radius:  0 3px 3px 0;
}

.next{
    right: 0;
    border-radius:  3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext{
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

.dots{
    display: flex;
    justify-content: center;
}
.dot{
    position: center;
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity:0;}
    to{opacity: 1;}
}

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
}